# **INHERITANCE**

In [ ]:
#parent_class
class person:
    def __init__(self,name,id_num):
        self.name = name
        self.id= id_num
        
    def display(self):
        print(self.name)
        print(self.id)

In [ ]:
#child class one
class Student( person ):            
        def __init__(self, name, id_num, place): 
                self.place = place 
    
                
                person.__init__(self, name, id_num)  
          
        def show(self):
            print(self.place)

In [ ]:
a = Student('Anisha', 1701711075005, 'Chennai')     
    

a.display()
a.show()

Anisha
1701711075005
Chennai

In [ ]:
#child class two
class Report_card( person ):            
        def __init__(self, name, id_num, Algebra, Statistics, Mechanics, Overall_grade): 
                self.Algebra = Algebra
                self.Statistics = Statistics
                self.Mechanics = Mechanics
                self.Overall_grade = Overall_grade
    
                
                person.__init__(self, name, id_num)  
          
        def show(self):
            print(self.Algebra)
            print(self.Statistics)
            print(self.Mechanics)
            print(self.Overall_grade)

In [ ]:
b = Report_card('Anisha', 1701711075005,88,81,96,'A+')     
    

b.display()
b.show()

Anisha
1701711075005
88
81
96
A+

In [ ]:
#child class three

class Placement(person):
  def __init__(self,name, id_num, Company_name, Designation , Salary):
    self.Company_name = Company_name
    self.Designation = Designation
    self.Salary = Salary
    
    person.__init__(self, name, id_num)  
  
  def show(self):
    print(self.Company_name)
    print(self.Designation)
    print(self.Salary)

In [ ]:
c = Placement("Anisha", 1701711075005, "XYZ Analytics","Programmer",30000)

c.display()
c.show()

Anisha
1701711075005
XYZ Analytics
Programmer
30000