<a href="https://colab.research.google.com/github/Anisha271299/Training-Assignments/blob/main/Numpy_exercises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON EXERCISES USING NUMPY

importing numpy

In [2]:
import numpy as np

Defining a Python list containing the ages of 6 people.

In [ ]:
age_list = [20, 5, 18, 32, 65, 43]
print(age_list)

[20, 5, 18, 32, 65, 43]

In [ ]:
ages = np.array(age_list)
print(type(ages))
print(ages)

<class 'numpy.ndarray'>
[20  5 18 32 65 43]

In [ ]:
print(ages)
print("Size:\t" , ages.size)
print("Shape:\t", ages.shape)

[20  5 18 32 65 43]
Size:	 6
Shape:	 (6,)

In [ ]:
zeroarr = np.zeros(5)
print(zeroarr)

[0. 0. 0. 0. 0.]

### Multi-dim

Defining a new list containing the weights of these 6 people.

In [ ]:
weight_list = [32, 28, 56, 60, 85, 65]

Now, we define an ndarray containing all fo this information, and again print the size and shape of the array.

In [ ]:
people = np.array([age_list, weight_list])

print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [[20  5 18 32 65 43]
 [32 28 56 60 85 65]]
Size:	 12
Shape:	 (2, 6)

In [ ]:
# 2 X 6 = 1 X 12 = 4 X 3 = 3 X 4 = 12 X 1 

people = people.reshape(3,4)
print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [[20  5 18 32]
 [65 43 32 28]
 [56 60 85 65]]
Size:	 12
Shape:	 (3, 4)

### Exercise

Generate a 1D numpy array with the values [7, 9, 65, 33, 85, 99]

In [ ]:
value_list = [7,9,65,33,85,99]
print (value_list)

[7, 9, 65, 33, 85, 99]

In [ ]:
val_arr = np.array(value_list)
print(type(val_arr))
print(val_arr)

<class 'numpy.ndarray'>
[ 7  9 65 33 85 99]


* Generate a matrix (2D numpy array) of the values:

\begin{align}
  \mathbf{A} =
  \begin{pmatrix}
    1 & 2 & 4 \\
    2 & 3 & 0 \\
    0 & 5 & 1
  \end{pmatrix}
\end{align}

In [ ]:
import numpy as np

A = np.array([[1, 2, 4], [2, 3, 0],[0,5,1]])
print(A)

[[1 2 4]
 [2 3 0]
 [0 5 1]]

Change the dimensions of this array to another permitted shape

In [ ]:
A = A.reshape(1,9)
print("A:\t" ,A)
print("Size:\t" , A.size)
print("Shape:\t", A.shape)

A:	 [[1 2 4 2 3 0 0 5 1]]
Size:	 9
Shape:	 (1, 9)

## Array Generation

Instead of defining an array manually, we can ask numpy to do it for us.

The `np.arange()` method creates a range of numbers with user defined steps between each.

In [ ]:
five_times_table = np.arange(0, 55, 5)
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

The `np.linspace()` method will produce a range of evenly spaced values, starting, ending, and taking as many steps as you specify.

In [ ]:
five_spaced = np.linspace(0,50,11)
print(five_spaced)

[ 0.  5. 10. 15. 20. 25. 30. 35. 40. 45. 50.]

The `.repeat()` method will repeat an object you pas a specified number of times.

In [ ]:
twoArr = np.repeat(2, 10)
print(twoArr)

[2 2 2 2 2 2 2 2 2 2]

The `np.eye()` functions will create an identity matrix/array for us.

In [ ]:
identity_matrix = np.eye(6)
print(identity_matrix)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

# Operations

There are many, many operations which we can perform on arrays. Below, we demonstrate a few.

What is happening in each line?

In [ ]:
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [ ]:
print("1:", 2 * five_times_table)
print("2:", 10 + five_times_table)
print("3:", five_times_table - 1)
print("4:", five_times_table/5)
print("5:", five_times_table **2)
print("6:", five_times_table < 20)

1: [  0  10  20  30  40  50  60  70  80  90 100]
2: [10 15 20 25 30 35 40 45 50 55 60]
3: [-1  4  9 14 19 24 29 34 39 44 49]
4: [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
5: [   0   25  100  225  400  625  900 1225 1600 2025 2500]
6: [ True  True  True  True False False False False False False False]

### Speed Test

If we compare the speed at which we can do these operations compared to core python, we will notice a substantial difference.

In [ ]:
fives_list = list(range(0,5001,5))
fives_list

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995,
 1000,
 1005,
 1010,
 1015,
 1020,
 1025,
 1030,
 1035,
 1040,
 1045,
 1050,
 1055,
 1060,
 1065,
 1070,
 1075,
 1080,
 1085,
 1090,
 1095,
 1100,
 1105,
 1110,
 1115,
 1120,
 1125,
 1130,
 1135,
 1140,
 1145,
 1150,
 1155,
 1160,
 1165,
 1170,
 1175,
 1180,
 1185,
 1190,
 1195,
 1200,
 1205,
 1210,
 1215,
 1220,
 1225,
 1230,
 1235,
 1240,
 1245,
 1250,
 1255,
 1260,
 1265,
 1270,
 1275,
 1280,
 1285,
 1290,
 1295,
 1300,
 1305,
 1310,
 1315,
 1320,
 1325,
 1330,
 1335,
 1340,
 1345,
 1350,
 1355,
 1360,
 1365,
 1370,
 1375,
 1380,
 1385,
 1390,
 1395,
 1400,
 1405,
 1410,
 1415,
 1420,
 1425,
 1430,
 1435,
 1440,
 1445,
 1450,
 1455,
 1460,
 1465,
 1470,
 1475,
 1480,
 1485,
 1490,
 1495,
 1500,
 1505,
 1510,
 1515,
 1520,
 1525,
 1530,
 1535,
 1540,
 1545,
 1550,
 1555,
 1560,
 1565,
 1570,
 1575,
 1580,
 1585,
 1590,
 1595,
 1600,
 1605,
 1610,
 1615,
 1620,
 1625,
 1630,
 1635,
 1640,
 1645,
 1650,
 1655,
 1660,
 1665,
 1670,
 1675,
 1680,
 1685,
 1690,
 1695,
 1700,
 1705,
 1710,
 1715,
 1720,
 1725,
 1730,
 1735,
 1740,
 1745,
 1750,
 1755,
 1760,
 1765,
 1770,
 1775,
 1780,
 1785,
 1790,
 1795,
 1800,
 1805,
 1810,
 1815,
 1820,
 1825,
 1830,
 1835,
 1840,
 1845,
 1850,
 1855,
 1860,
 1865,
 1870,
 1875,
 1880,
 1885,
 1890,
 1895,
 1900,
 1905,
 1910,
 1915,
 1920,
 1925,
 1930,
 1935,
 1940,
 1945,
 1950,
 1955,
 1960,
 1965,
 1970,
 1975,
 1980,
 1985,
 1990,
 1995,
 2000,
 2005,
 2010,
 2015,
 2020,
 2025,
 2030,
 2035,
 2040,
 2045,
 2050,
 2055,
 2060,
 2065,
 2070,
 2075,
 2080,
 2085,
 2090,
 2095,
 2100,
 2105,
 2110,
 2115,
 2120,
 2125,
 2130,
 2135,
 2140,
 2145,
 2150,
 2155,
 2160,
 2165,
 2170,
 2175,
 2180,
 2185,
 2190,
 2195,
 2200,
 2205,
 2210,
 2215,
 2220,
 2225,
 2230,
 2235,
 2240,
 2245,
 2250,
 2255,
 2260,
 2265,
 2270,
 2275,
 2280,
 2285,
 2290,
 2295,
 2300,
 2305,
 2310,
 2315,
 2320,
 2325,
 2330,
 2335,
 2340,
 2345,
 2350,
 2355,
 2360,
 2365,
 2370,
 2375,
 2380,
 2385,
 2390,
 2395,
 2400,
 2405,
 2410,
 2415,
 2420,
 2425,
 2430,
 2435,
 2440,
 2445,
 2450,
 2455,
 2460,
 2465,
 2470,
 2475,
 2480,
 2485,
 2490,
 2495,
 2500,
 2505,
 2510,
 2515,
 2520,
 2525,
 2530,
 2535,
 2540,
 2545,
 2550,
 2555,
 2560,
 2565,
 2570,
 2575,
 2580,
 2585,
 2590,
 2595,
 2600,
 2605,
 2610,
 2615,
 2620,
 2625,
 2630,
 2635,
 2640,
 2645,
 2650,
 2655,
 2660,
 2665,
 2670,
 2675,
 2680,
 2685,
 2690,
 2695,
 2700,
 2705,
 2710,
 2715,
 2720,
 2725,
 2730,
 2735,
 2740,
 2745,
 2750,
 2755,
 2760,
 2765,
 2770,
 2775,
 2780,
 2785,
 2790,
 2795,
 2800,
 2805,
 2810,
 2815,
 2820,
 2825,
 2830,
 2835,
 2840,
 2845,
 2850,
 2855,
 2860,
 2865,
 2870,
 2875,
 2880,
 2885,
 2890,
 2895,
 2900,
 2905,
 2910,
 2915,
 2920,
 2925,
 2930,
 2935,
 2940,
 2945,
 2950,
 2955,
 2960,
 2965,
 2970,
 2975,
 2980,
 2985,
 2990,
 2995,
 3000,
 3005,
 3010,
 3015,
 3020,
 3025,
 3030,
 3035,
 3040,
 3045,
 3050,
 3055,
 3060,
 3065,
 3070,
 3075,
 3080,
 3085,
 3090,
 3095,
 3100,
 3105,
 3110,
 3115,
 3120,
 3125,
 3130,
 3135,
 3140,
 3145,
 3150,
 3155,
 3160,
 3165,
 3170,
 3175,
 3180,
 3185,
 3190,
 3195,
 3200,
 3205,
 3210,
 3215,
 3220,
 3225,
 3230,
 3235,
 3240,
 3245,
 3250,
 3255,
 3260,
 3265,
 3270,
 3275,
 3280,
 3285,
 3290,
 3295,
 3300,
 3305,
 3310,
 3315,
 3320,
 3325,
 3330,
 3335,
 3340,
 3345,
 3350,
 3355,
 3360,
 3365,
 3370,
 3375,
 3380,
 3385,
 3390,
 3395,
 3400,
 3405,
 3410,
 3415,
 3420,
 3425,
 3430,
 3435,
 3440,
 3445,
 3450,
 3455,
 3460,
 3465,
 3470,
 3475,
 3480,
 3485,
 3490,
 3495,
 3500,
 3505,
 3510,
 3515,
 3520,
 3525,
 3530,
 3535,
 3540,
 3545,
 3550,
 3555,
 3560,
 3565,
 3570,
 3575,
 3580,
 3585,
 3590,
 3595,
 3600,
 3605,
 3610,
 3615,
 3620,
 3625,
 3630,
 3635,
 3640,
 3645,
 3650,
 3655,
 3660,
 3665,
 3670,
 3675,
 3680,
 3685,
 3690,
 3695,
 3700,
 3705,
 3710,
 3715,
 3720,
 3725,
 3730,
 3735,
 3740,
 3745,
 3750,
 3755,
 3760,
 3765,
 3770,
 3775,
 3780,
 3785,
 3790,
 3795,
 3800,
 3805,
 3810,
 3815,
 3820,
 3825,
 3830,
 3835,
 3840,
 3845,
 3850,
 3855,
 3860,
 3865,
 3870,
 3875,
 3880,
 3885,
 3890,
 3895,
 3900,
 3905,
 3910,
 3915,
 3920,
 3925,
 3930,
 3935,
 3940,
 3945,
 3950,
 3955,
 3960,
 3965,
 3970,
 3975,
 3980,
 3985,
 3990,
 3995,
 4000,
 4005,
 4010,
 4015,
 4020,
 4025,
 4030,
 4035,
 4040,
 4045,
 4050,
 4055,
 4060,
 4065,
 4070,
 4075,
 4080,
 4085,
 4090,
 4095,
 4100,
 4105,
 4110,
 4115,
 4120,
 4125,
 4130,
 4135,
 4140,
 4145,
 4150,
 4155,
 4160,
 4165,
 4170,
 4175,
 4180,
 4185,
 4190,
 4195,
 4200,
 4205,
 4210,
 4215,
 4220,
 4225,
 4230,
 4235,
 4240,
 4245,
 4250,
 4255,
 4260,
 4265,
 4270,
 4275,
 4280,
 4285,
 4290,
 4295,
 4300,
 4305,
 4310,
 4315,
 4320,
 4325,
 4330,
 4335,
 4340,
 4345,
 4350,
 4355,
 4360,
 4365,
 4370,
 4375,
 4380,
 4385,
 4390,
 4395,
 4400,
 4405,
 4410,
 4415,
 4420,
 4425,
 4430,
 4435,
 4440,
 4445,
 4450,
 4455,
 4460,
 4465,
 4470,
 4475,
 4480,
 4485,
 4490,
 4495,
 4500,
 4505,
 4510,
 4515,
 4520,
 4525,
 4530,
 4535,
 4540,
 4545,
 4550,
 4555,
 4560,
 4565,
 4570,
 4575,
 4580,
 4585,
 4590,
 4595,
 4600,
 4605,
 4610,
 4615,
 4620,
 4625,
 4630,
 4635,
 4640,
 4645,
 4650,
 4655,
 4660,
 4665,
 4670,
 4675,
 4680,
 4685,
 4690,
 4695,
 4700,
 4705,
 4710,
 4715,
 4720,
 4725,
 4730,
 4735,
 4740,
 4745,
 4750,
 4755,
 4760,
 4765,
 4770,
 4775,
 4780,
 4785,
 4790,
 4795,
 4800,
 4805,
 4810,
 4815,
 4820,
 4825,
 4830,
 4835,
 4840,
 4845,
 4850,
 4855,
 4860,
 4865,
 4870,
 4875,
 4880,
 4885,
 4890,
 4895,
 4900,
 4905,
 4910,
 4915,
 4920,
 4925,
 4930,
 4935,
 4940,
 4945,
 4950,
 4955,
 4960,
 4965,
 4970,
 4975,
 4980,
 4985,
 4990,
 4995,
 ...]

In [ ]:
five_times_table_lge = np.arange(0,5001,5)
five_times_table_lge

array([   0,    5,   10, ..., 4990, 4995, 5000])

In [ ]:
%timeit five_times_table_lge + 5

1.27 µs ± 12 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%timeit [e + 5 for e in fives_list]

65.3 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Boolean string operations can also be performed on ndarrays.

In [ ]:
words = np.array(["ten", "nine", "eight", "seven", "six"])

print(np.isin(words, 'e'))

print("e" in words)
["e" in word for word in words]

[False False False False False]
False

[True, True, True, True, False]

# Transpose

In [ ]:
people.shape = (2, 6)
print(people, "\n")
print(people.T)

[[20  5 18 32 65 43]
 [32 28 56 60 85 65]]

[[20 32]
 [ 5 28]
 [18 56]
 [32 60]
 [65 85]
 [43 65]]

# Data Types

As previously mentioned, ndarrays can only have one data type. If we want to obtain or change this, we use the `.dtype` attribute.

In [ ]:
people.dtype

dtype('int64')

What is the data type of the below ndarray?

In [ ]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
ages_with_strings

array(['10', '5', '8', '32', '65', '43'], dtype='<U21')

What is the dtype of this array?

In [ ]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'], dtype='int32')
ages_with_strings

array([10,  5,  8, 32, 65, 43], dtype=int32)

What do you think has happened here?

In [ ]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
print(ages_with_strings)

['10' '5' '8' '32' '65' '43']

In [ ]:
ages_with_strings.dtype = 'int32'
print(ages_with_strings)

[49 48  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 53  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 56  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 51 50  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0 54 53  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0 52 51  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0]

In [ ]:
ages_with_strings.size

126

In [ ]:
ages_with_strings.size/21

6.0

In [ ]:
np.array([10, 5, 8, '32', '65', '43']).size

6

The correct way to have changed the data type of the ndarray would have been to use the `.astype()` method, demonstrated below.

In [ ]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
print(ages_with_strings)
print(ages_with_strings.astype('int32'))

['10' '5' '8' '32' '65' '43']
[10  5  8 32 65 43]

### Exercise

* #### Create an array of string numbers, but use dtype to make it an array of floats.

In [ ]:
string_num =np.array(('1','2','3','4','5'), dtype='float32')

In [ ]:
string_num.dtype

dtype('float32')

In [ ]:
string_num

array([1., 2., 3., 4., 5.], dtype=float32)

* #### Transpose the matrix, printing the new size and shape.

In [ ]:
matrix=np.array([[1,1,4],[2,3,1]])
matrix

array([[1, 1, 4],
       [2, 3, 1]])

In [ ]:
matrix.shape

(2, 3)

In [ ]:
trans_matrix =matrix.T
trans_matrix

array([[1, 2],
       [1, 3],
       [4, 1]])

In [ ]:
trans_matrix.shape

(3, 2)

* #### Use the .astype() method to convert the array to boolean.

In [ ]:
print(string_num.astype(bool))

[ True  True  True  True  True]

## Array Slicing Operations

As before, we can use square brackets and indices to access individual values, and the colon operator to slice the array.

In [ ]:
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [ ]:
five_times_table[0]

0

In [ ]:
five_times_table[-1]

50

In [ ]:
five_times_table[:4]

array([ 0,  5, 10, 15])

In [ ]:
five_times_table[4:]

array([20, 25, 30, 35, 40, 45, 50])

We can also slice an n-dim ndarray., specifying the slice operation accross each axis.

In [ ]:
print(people)
people[:3, :3]

[[20  5 18 32 65 43]
 [32 28 56 60 85 65]]

array([[20,  5, 18],
       [32, 28, 56]])

### Exercise

* Create a numpy array with 50 zeros

In [ ]:
arr0= np.zeros(50)
arr0

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

* Create a np array of 2 repeated 20 times

In [ ]:
arr_rep2 =np.full(20,2)
arr_rep2

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

* Create a numpy array from 0 to 2 $\pi$ in steps of 0.1

In [ ]:
import math 
arr_pi=np.arange(0,2*(math.pi),0.1)

In [ ]:
arr_pi

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5. , 5.1,
       5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1, 6.2])

For one of the arrays generated:
* Get the first five values

In [ ]:
arr_pi[:5]

array([0. , 0.1, 0.2, 0.3, 0.4])

* Get the last 3 values

In [ ]:
arr_pi[-3:]

array([6. , 6.1, 6.2])

* Get the 4th value to the 7th value

In [ ]:
arr_pi [4:8]

array([0.4, 0.5, 0.6, 0.7])

We can reverse an array by using `.flip()` or by using the `::` operator.

In [ ]:
reverse_five_times_table = np.flip(five_times_table)
reverse_five_times_table

array([50, 45, 40, 35, 30, 25, 20, 15, 10,  5,  0])

In [ ]:
reverse_five_times_table = five_times_table[-1::-1]
print(reverse_five_times_table)
five_times_table

[50 45 40 35 30 25 20 15 10  5  0]

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

We can also use the `::` operator to select steps of the original array.

In [ ]:
five_times_table[0::3] #Every 3rd element starting from 0

array([ 0, 15, 30, 45])

### Exercise
Take one of the arrays you defined and

* #### Reverse it

In [ ]:
rev_arr_pi =np.flip(arr_pi)
rev_arr_pi

array([6.2, 6.1, 6. , 5.9, 5.8, 5.7, 5.6, 5.5, 5.4, 5.3, 5.2, 5.1, 5. ,
       4.9, 4.8, 4.7, 4.6, 4.5, 4.4, 4.3, 4.2, 4.1, 4. , 3.9, 3.8, 3.7,
       3.6, 3.5, 3.4, 3.3, 3.2, 3.1, 3. , 2.9, 2.8, 2.7, 2.6, 2.5, 2.4,
       2.3, 2.2, 2.1, 2. , 1.9, 1.8, 1.7, 1.6, 1.5, 1.4, 1.3, 1.2, 1.1,
       1. , 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1, 0. ])

* #### Only keep every 4th element.

In [ ]:
arr_four=rev_arr_pi[0::4] 
arr_four

array([6.2, 5.8, 5.4, 5. , 4.6, 4.2, 3.8, 3.4, 3. , 2.6, 2.2, 1.8, 1.4,
       1. , 0.6, 0.2])

* #### Get every 2nd element, starting from the last and moving backwards.

In [ ]:
rev_arr_pi [-1::-2]

array([0. , 0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. , 2.2, 2.4,
       2.6, 2.8, 3. , 3.2, 3.4, 3.6, 3.8, 4. , 4.2, 4.4, 4.6, 4.8, 5. ,
       5.2, 5.4, 5.6, 5.8, 6. , 6.2])

# Stats

In [ ]:
np.array([1.65432, 5.98765]).round(2)

array([1.65, 5.99])

In [ ]:
nums = np.arange(0, 4, 0.2555)

### Exercise

* Compute min, max, sum, mean, median, variance, and standard deviation of the above array, all to to 2 decimal places.

In [ ]:
print("min = ", np.min(nums).round(2))
print("max = ", np.max(nums).round(2))
print("sum = ", np.sum(nums).round(2))
print("mean = ", np.mean(nums).round(2))
print("median = ", np.median(nums).round(2))
print("var = ", np.var(nums).round(2))
print("std = ", np.std(nums).round(2))

min =  0.0
max =  3.83
sum =  30.66
mean =  1.92
median =  1.92
var =  1.39
std =  1.18

## Random

With `np.random`, we can generate a number of types of dataset, and create training data.

The below code simulates a fair coin toss.

In [ ]:
flip = np.random.choice([0,1], 10)
flip

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 0])

In [ ]:
np.random.rand(10,20,9)

array([[[1.70706345e-01, 3.25361453e-01, 3.57005439e-01, ...,
         9.01691327e-01, 4.21257381e-01, 4.85966428e-01],
        [2.46343241e-01, 7.11213075e-01, 3.34506368e-01, ...,
         9.66475368e-01, 5.92490111e-01, 9.16308479e-01],
        [2.33696611e-01, 6.86069606e-01, 4.01375797e-01, ...,
         6.89824175e-01, 6.11735186e-01, 2.22511776e-01],
        ...,
        [7.59030179e-01, 1.86427009e-01, 1.31445956e-01, ...,
         7.51971255e-02, 6.03259595e-01, 2.69976826e-01],
        [7.26744099e-01, 3.03419023e-01, 4.33889771e-01, ...,
         6.59367433e-02, 6.41521297e-01, 4.27499607e-01],
        [9.38427689e-01, 7.72416807e-01, 6.74862526e-01, ...,
         6.70328749e-02, 6.05007569e-01, 3.68693639e-05]],

       [[9.10369918e-01, 6.65302873e-02, 8.20170356e-01, ...,
         1.61620022e-01, 7.08755154e-01, 8.85175606e-01],
        [6.79512594e-01, 5.96894751e-01, 5.76817592e-01, ...,
         9.58222234e-01, 4.03750102e-01, 3.38240908e-01],
        [4.45414085e-01, 2.27844867e-01, 4.15617735e-01, ...,
         9.92798999e-01, 4.40465265e-01, 3.93377412e-01],
        ...,
        [3.17085931e-01, 6.86316755e-01, 9.25351535e-02, ...,
         6.44292827e-01, 6.85708012e-01, 5.65370213e-02],
        [7.57695872e-01, 1.98486602e-01, 4.54885578e-01, ...,
         2.96720418e-01, 5.51035087e-01, 1.30108478e-01],
        [2.58644451e-01, 1.23084296e-02, 4.42147548e-01, ...,
         1.69737315e-01, 5.54873265e-01, 2.89920207e-01]],

       [[3.63150717e-01, 4.60530111e-01, 6.51077328e-02, ...,
         5.16662609e-01, 1.95797619e-01, 8.99309531e-01],
        [2.44038822e-01, 5.04815034e-01, 3.83553593e-01, ...,
         6.82781008e-01, 7.88754948e-01, 7.84985113e-02],
        [5.99405484e-01, 2.53266989e-01, 5.05632535e-01, ...,
         7.57011040e-01, 7.00870607e-01, 8.59096863e-01],
        ...,
        [8.63596896e-01, 6.38984248e-01, 8.91197719e-01, ...,
         4.00976440e-01, 9.09109878e-01, 8.82216117e-01],
        [2.48797977e-01, 1.94630184e-01, 8.41669042e-01, ...,
         6.06785099e-01, 8.56333583e-01, 2.46905001e-01],
        [8.84514021e-01, 5.30808238e-01, 6.87575284e-01, ...,
         1.01635212e-01, 5.68320063e-01, 8.38600635e-01]],

       ...,

       [[9.39975637e-01, 3.38303235e-01, 5.44997169e-01, ...,
         6.91450149e-01, 8.57893998e-01, 9.94273966e-01],
        [6.32589766e-01, 3.81994478e-01, 7.92978108e-01, ...,
         2.07141996e-01, 4.86546614e-01, 5.70137044e-01],
        [4.16181743e-01, 8.81873253e-01, 1.59351816e-01, ...,
         5.26528189e-01, 1.17486081e-02, 4.54487535e-01],
        ...,
        [4.40526313e-01, 3.01054413e-01, 9.17914034e-02, ...,
         6.52526050e-01, 7.93031826e-01, 8.04623146e-01],
        [9.29424494e-01, 5.18301866e-01, 1.22936708e-01, ...,
         8.61064290e-01, 8.53424613e-01, 5.70673973e-01],
        [4.94350805e-01, 9.24359896e-01, 2.09821169e-01, ...,
         7.50945708e-01, 9.95768591e-01, 3.08236034e-01]],

       [[4.07291454e-01, 2.59751038e-01, 2.44028863e-01, ...,
         6.85694633e-01, 7.24273482e-01, 1.24189170e-01],
        [5.79815338e-01, 4.87539128e-01, 1.91294861e-01, ...,
         4.47290115e-02, 6.06863429e-01, 4.85170704e-02],
        [8.76298550e-01, 8.20693744e-01, 5.42257195e-02, ...,
         3.24786047e-01, 5.73078602e-01, 6.46484961e-01],
        ...,
        [4.75870366e-02, 1.11331178e-01, 8.39387121e-01, ...,
         6.77148511e-01, 1.41059754e-02, 7.06684438e-01],
        [8.91857247e-01, 2.49866907e-03, 9.87929775e-01, ...,
         5.86150512e-01, 7.54176573e-01, 3.03493163e-01],
        [3.62346601e-01, 6.03733914e-01, 2.97901063e-01, ...,
         4.75003075e-01, 4.89284947e-01, 8.19293524e-01]],

       [[3.43014301e-01, 7.15429452e-01, 9.90116673e-01, ...,
         4.98006935e-01, 9.60318557e-01, 7.18977904e-01],
        [3.01421528e-01, 6.16147667e-01, 2.20175003e-01, ...,
         3.76375788e-01, 3.81010550e-01, 1.72313665e-01],
        [2.09776513e-01, 9.06070388e-01, 3.84856615e-01, ...,
         1.95118899e-01, 7.16803970e-01, 6.56751726e-01],
        ...,
        [7.38572034e-01, 3.71134998e-01, 9.67784015e-01, ...,
         1.50240487e-01, 9.07956603e-01, 7.02753718e-01],
        [6.64547084e-01, 5.83200464e-01, 8.56566218e-01, ...,
         9.86814659e-01, 9.99516203e-01, 3.78362363e-01],
        [7.27924126e-01, 8.16740383e-01, 5.90957364e-01, ...,
         2.90191158e-01, 8.96648242e-01, 3.93514929e-01]]])

We can produce 1000 datapoints of a normally distributed data set by using `np.random.normal()`

In [3]:
mu, sigma = 0, 0.1 # mean and standard deviation
s = np.random.normal(mu, sigma, 1000)

### Exercise

* Simulate a six-sided dice using numpy.random.choice(), generate a list of values you would obtain from 10 throws.

In [ ]:
dice = np.random.choice([0,1,2,3,4,5,6], 10)
dice

array([2, 2, 6, 1, 5, 2, 4, 6, 6, 1])

* Simulate a two-sided coin toss that is NOT fair: it is twice as likely to have head than tails.

In [ ]:
Notfair = np.random.choice([0,1,1], 10)
Notfair

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])