<a href="https://colab.research.google.com/github/Anisha271299/Training-Assignments/blob/main/Python_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **PYTHON DATA STRUCTURES**

# ***I.LIST***

List is ordered and changeable. Allows duplicate members.

Creating a list

In [2]:
list1 = ["apple","orange","banana"]
print(list1)

['apple', 'orange', 'banana']

Looking into methods of list

In [3]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

1.APPEND: adds an element at the end of list

In [4]:
#ex.1
list2 = [1,2,3,4,5]
list2.append(6) #appending a value to list2
print (list2)

[1, 2, 3, 4, 5, 6]

In [5]:
#ex.2
list2.append([7,8,9]) #appending a list inside  list2
print (list2)

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [6]:
#ex.3
list3 = ["ant","cat"]
list3.append("dog") #appending an item in list3
list3.append(10) #appending an integer in list3
print (list3)

['ant', 'cat', 'dog', 10]

2.INSERT : adds an element at the specified index

In [7]:
#ex.4
list3.insert(2,"elephant") #insert the element in index 2
print (list3)

['ant', 'cat', 'elephant', 'dog', 10]

3.REMOVE: removes the first occurence of the specified value

In [8]:
#ex.5
list2.remove(5) #removes the element 5 in list2
print(list2)

[1, 2, 3, 4, 6, [7, 8, 9]]

In [9]:
#ex.6
list2.remove(11) #value error ,because there is no 10 in the list a

ValueError: ignored

4.POP : removes the item at specified index.

In [12]:
#ex.7
list3.pop(2) # removes and returns elephant
print (list3)

['ant', 'cat', 10]

In [13]:
#ex.8
list3.pop()
print (list3) #when no index is given, it removes the last value

['ant', 'cat']

5.DEL : removes the specified index and also used to delete the list completely

In [17]:
#ex.9
list4 = ["onion","carrot","cucumber"]
del list4[1] #note that there is no dot after del
print (list4) #deletes the item at index 4

['onion', 'cucumber']

In [18]:
#ex.10
del list4 #deletes the entire list4

In [21]:
#ex.11
list6 = list(range(15))
print (list6)
del list6[::3] #multiple element deletion by using slice notation
print (list6) #it deletes every 3rd element starting from 0 to 15

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14]

In [22]:
#ex.12
del list6[:] #deletes  everything in the list 
print (list6)

[]

6.INDEX : returns the index of the first occurence of input value

In [23]:
#ex.13
list7 = list(range(5))
print (list7)

[0, 1, 2, 3, 4]

In [24]:
print (list7.index(0)) #gives the index of 0
print (list7.index(1))

0
1

7.CLEAR : removes all item from the list and gives empty list

In [25]:
#ex.14
list8 = ["a","b","c"]
list8.clear() #it clears all value from the list and returns empty list
print (list8)

[]

8.REVERSE : reverse the order of the list

In [26]:
#ex.15
list9 = [10,20,30,40,50,60]
list9.reverse() #it reverse the order of list
print(list9)

[60, 50, 40, 30, 20, 10]

9.COUNT : counts the number of occurence of the specified value

In [28]:
#ex.16
list10 = [11,11,22,22,22,33]
list10.count(22) #counts the no of occurence of 22

3

10.SORT : sorts the list in numerical and lexicographical order

In [29]:
#ex.17
list11 = [1,4,68,9,-5,23,56]
list11.sort() #sorts the list in numerical
print (list11)

[-5, 1, 4, 9, 23, 56, 68]

In [30]:
#ex.18
list12 = ["ASHA","SHAMA","SHAN","A","R"]
list12.sort() #sorts the list in lexicographical
print (list12)

['A', 'ASHA', 'R', 'SHAMA', 'SHAN']

In [31]:
#ex.19
list13 = ["a","b",1,2]
list13.sort() #we can't sort the list if it has numerical and string values
print (list13)

TypeError: ignored

11.COPY :returns a copy of the list

In [32]:
#ex.20
thislist = ["frog","python"]
mylist = thislist.copy() #copying a list using copy() method
print(mylist)

['frog', 'python']

In [33]:
#ex.21
thislist1 = ["frog","python","ant"]
mylist1 = list(thislist1) #copying a list using list() method
print(mylist1)

['frog', 'python', 'ant']

12.JOIN TWO LISTS

In [35]:
#ex.22
list14 = [1,2,3,4,5]
list15 = ["a","b","c"]
list16 = list14 + list15 #joins two list using + operator
print (list16)

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [36]:
#ex.23
for x in list15:
  list14.append(x) #joins two list using append method
print(list14)

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [37]:
#ex.24
list17 = [1,1,1]
list18 = [2,2,2]
list17.extend(list18) #joins two list using extend method
print(list17)

[1, 1, 1, 2, 2, 2]

13. MULTIPLICATION OF LIST

In [38]:
#ex.25
print(list17*5) #it returns 5 copies of items in the list

[1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2]

## **II. TUPLE**

Tuple is ordered and unchangeble .Allows duplicate members

Creating a tuple

In [41]:
tuple1 = "a","b","c","d"
print (tuple1)
tuple2 = tuple ("numbers")
print (tuple2)

('a', 'b', 'c', 'd')
('n', 'u', 'm', 'b', 'e', 'r', 's')

looking into methods of tuple

In [42]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

1.COUNT :counts the number of occurence of the specified value

In [46]:
#ex.1
tuple3 = 11,11,22,22,22,33
tuple3.count(22) #counts the no of occurence of 22

3

2.INDEX : returns the index of the first occurence of input value

In [47]:
#ex.2
tuple4 = 0,1,2,3,4
print (tuple4.index(0)) #gives the index of 0
print (tuple4.index(1))

0
1

3.TUPLE CONCATENATION

In [48]:
#ex.3
tuple5 = tuple1 + tuple2 + tuple3 + tuple4 #joins all those tuples and returns back as single tuple
print (tuple5)

('a', 'b', 'c', 'd', 'n', 'u', 'm', 'b', 'e', 'r', 's', 11, 11, 22, 22, 22, 33, 0, 1, 2, 3, 4)

4. SOME TUPLE FUNCTIONS

In [49]:
#ex.4
tuple6 = (1,2,3)
tuple7 = (1,2,3)
tuple8 = tuple6 ==  tuple7 #checks whether two tuples are equal and returns bool value True or False
print(tuple8)

True

In [55]:
#ex.5
tuple9 = ("a","an","alpha",)
print(tuple9)
print (len(tuple9)) #gives the length of tuple
print (max(tuple9)) #takes the largest ascii value
print (min(tuple9)) #takes the smallest ascii value
revtupule = tuple9[::-1] #reverse the given tuple
print (revtupule)

('a', 'an', 'alpha')
3
an
a
('alpha', 'an', 'a')

## **III. SET**

Set is unordered and unindexed .No duplicate members allowed.

Creating a set

In [59]:
Set1 = {"A","B","C","D"}
print (Set1) #prints the values in unordered form
Set2 = {1,2,3,4,4}
print (Set2) #duplicates will be removed in set

{'D', 'B', 'A', 'C'}
{1, 2, 3, 4}

looking into methods of set

In [56]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

1.ADD : adds an element to the set

In [62]:
#ex.1
set3 = "apple"
set3 = (set(set3)) #changes the letters in apple into a set
print(set3)
set3.add("orange") #adds orange in the set
print(set3)

{'l', 'p', 'e', 'a'}
{'a', 'orange', 'p', 'e', 'l'}

2.UPDATE : updates the set with the union of this set and others

In [64]:
#ex.2
set4 = {1,2,3,4,5,6,7,8,9,}
set5 = {"an","for","on","in",1}
set4.update(set5) #update the value to set,duplicates will be removed
print (set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'on', 'in', 'an', 'for'}

In [72]:
#ex.3
set4 = {1,2,3,4,5,6,7,8,9,}
set5 = {"an","for","on","in",1}
set4 = set4.update(set5) #update the value to set,duplicates will be removed
print (set4)#if we assign the result to a variable, it gives "None" as result

None

3.UNION : returns a new set with from both sets or (operator"|")

In [65]:
#ex.4
set6 = {1,2,3}
set7 = {1,4,6,7,3,2}
set8 = set6.union(set7) #joins the two sets,duplicates will be removed
print(set8)

{1, 2, 3, 4, 6, 7}

In [75]:
#ex.5
set6 = {1,2,3}
set7 = {1,4,6,7,3,2}
set8 = set6 |(set7) #joins the two sets,duplicates will be removed using "|" operator
print(set8)

{1, 2, 3, 4, 6, 7}

4.INTERSECTION: returns a set , that is the intersection of two other sets

In [76]:
#ex.6
set8 = set6.intersection(set7) #returns the intersection of two sets in another new set
print(set8)

{1, 2, 3}

In [77]:
#ex.7 
set8 = set6 &(set7)  #returns the intersection of two sets using "&" opertor in another new set
print(set8)

{1, 2, 3}

5. INTERSECTION UPDATE : removes the items in the set which are also included in the other specified set

In [84]:
#ex.8
set6.intersection_update(set7) #returns the intersection of two sets 
print(set6)

{1, 2, 3}

6.POP : it arbitrarly removes any element from the set

In [69]:
#ex.8
set9 = {"a","b","c"}
set10 = set9.pop()  #removes any element, not in a order
print(set10)
print(set9)

b
{'c', 'a'}

7.REMOVE : removes the specified element

In [85]:
#ex.9
set11 = {1,2,3}
set11.remove(1)
print (set11)

{2, 3}

In [71]:
#ex.10
set11 = {1,2,3}
set11 = set11.remove(1) #if we assign the result to a variable, it gives "None" as result
print (set11)

None

8.COPY : returns the copy of a set

In [73]:
#ex.11
set12 = {"apple","orange"}
set13 = set12.copy() #copies the set 
print (set13)

{'apple', 'orange'}

9.CLEAR : removes all the elements from the set

In [86]:
#ex.12
set14 = {"apple","orange"}
set15 = set14.clear() #clears the whole set
print (set14) #returns empty set
print (set15) #returns None

set()
None

10.DIFFERENCE : returns a set containing difference between two or more sets or ("-" Operator)

In [87]:
#ex.13
set16 = {"apple","orange","cherry","mango"}
set17 = {"apple","orange"} #returns the difference between those sets
set18 = set16.difference(set17)
print (set18)

{'cherry', 'mango'}

In [82]:
#ex.14
set16 = {"apple","orange","cherry","mango"}
set17 = {"apple","orange"} #returns the difference between those sets using "-" operator
print ("before difference", id(set16))
set18 = set16-(set17)
print (set18)
print ("after difference", id(set18)) #here both ids are not same, thus it creates a new set

before difference 140295969410656
{'cherry', 'mango'}
after difference 140295969409456

11: DIFFERENCE UPDATE : removes the items in the set which are also included in the other specified set

In [83]:
#ex.15
set16 = {"apple","orange","cherry","mango"}
set17 = {"apple","orange"} #returns the difference between those sets using "-" operator
print ("before difference", id(set16))
set16.difference_update(set17)
print (set16)
print ("after difference", id(set16)) #here both ids are  same, thus it updates into the set

before difference 140295969408496
{'mango', 'cherry'}
after difference 140295969408496

12.SYMMETRIC DIFFERENCE() : returns a set with symmetric difference of two sets

In [90]:
#ex.16
set16 = {"apple","orange","cherry","mango"}
set17 = {"apple","orange"} #returns the  symmetric difference between those sets
set18 = set16.symmetric_difference(set17)
print (set18)

{'cherry', 'mango'}

13.SYMMETRIC DIFFERENCE UPDATE : inserts the symmetric difference from this set and another

In [92]:
#ex.16
set16 = {"apple","orange","cherry","mango"}
set17 = {"apple","orange"} #returns the  symmetric difference between those sets
set16.symmetric_difference_update(set17)
print (set16)

{'mango', 'cherry'}

14.SUBSET : returns whether another set contains this set or not or ("<=" Operator)

In [93]:
#ex.17
set19 = {1,2,3,4,5,6,7,8,9,10}
set20 = {2,4,6,8,10}
print (set19.issubset(set20)) #returns "True" if the set is contained else it returns "False"
print (set20.issubset(set19))

False
True

In [96]:
#ex.18
set19 = {1,2,3,4,5,6,7,8,9,10}
set20 = {2,4,6,8,10}
print (set19<=(set20)) #returns "True" if the set is contained else it returns "False" using "<=" operator
print (set20<=(set19))

False
True

15.SUPERSET:returns this set contains the another set or not  (">=" Operator)

In [95]:
#ex.19
set19 = {1,2,3,4,5,6,7,8,9,10}
set20 = {2,4,6,8,10}
print (set19.issuperset(set20)) #returns "True" if the set is superset else it returns "False"
print (set20.issuperset(set19))

True
False

In [97]:
#ex.20
set19 = {1,2,3,4,5,6,7,8,9,10}
set20 = {2,4,6,8,10}
print (set19>=(set20)) #returns "True" if the set is superset else it returns "False" using ">=" operator
print (set20>=(set19))

True
False

In [98]:
#ex.21
set19 = {1,2,3,4,5,6,7,8,9,10}
set20 = {1,2,3,4,5,6,7,8,9,10}
print (set19.issuperset(set20)) #returns "True" if both the sets has same elements
print (set20.issuperset(set19))
print (set19.issubset(set20)) #returns "True" if both the sets has same elements
print (set20.issubset(set19))

True
True
True
True

16.DISJOINT SETS : returns whether two sets have an intersection or not

In [99]:
#ex.22
set19 = {1,2,3,4,5,6,7,8,9,10}
set20 = {2,4,6,8,10}
print (set19.isdisjoint(set20))  #returns "True" if two sets have an intersection else it returns "False"

False

## **IV:DICTIONARY**

Dictionary is ordered,changeable . No duplicate key members allowed

creating a dictionary

In [100]:
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print (dict1)

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari'}

Looking into items of dictionary

In [101]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

1.UPDATE: updates the dictionary with the specified key-value pairs

In [102]:
#ex.1
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
dict2 = {1:"one",2:"two"}
dict1.update(dict2) #updates the dictionaries
print (dict1)

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari', 1: 'one', 2: 'two'}

2.FROM KEYS: returns a dictionary with the specified key and value

In [104]:
#ex.2
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
value = [1]
dict2 = dict.fromkeys(dict1,value)
print (dict2)

{'name': [1], 'age': [1], 'location': [1]}

3.CLEAR : removes all the element from the dictionary

In [105]:
#ex.3
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print (dict1)
dict1.clear() #removes all the element from the dictionary and returns empty dict
print (dict1)

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari'}
{}

4.COPY : returns a copy of the dictionary

In [106]:
#ex.4
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
dict2 = dict1.copy() #returns a copy of the dictionary
print (dict2)

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari'}

In [107]:
#ex.5
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
dict2 = {**dict1} #returns a copy of the dictionary using ** method
print (dict2)

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari'}

5.DELETE: deletes a pair from the dictionary

In [108]:
#ex.6
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
del (dict1["name"]) #to delete an item, we have to delete the key from the dictionary
print (dict1)

{'age': 22, 'location': 'kanyakumari'}

6.SORT : sort the key values in dictionary

In [109]:
#ex.7
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print (sorted(dict1))

['age', 'location', 'name']

7. ACCESSING KEYS AND VALUES

In [110]:
#ex.8
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
for item in dict1.keys():
  print(item)
for item in dict1.values():
  print(item)

name
age
location
anisha
22
kanyakumari

8. SET DEFAULT : returns the value of the specified key. If the key doesnot exist, then it insert the key with the specified value

In [113]:
#ex.9
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print (dict1)
dict1.setdefault("State", "Tamilnadu")
print (dict1)

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari'}
{'name': 'anisha', 'age': 22, 'location': 'kanyakumari', 'State': 'Tamilnadu'}

9.GET : returns the value of the specified key

In [121]:
#ex.10
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print (dict1)
dict1.get("location") #returns the value of location

{'name': 'anisha', 'age': 22, 'location': 'kanyakumari'}

'kanyakumari'

10. POP : removes the element with the specified key

In [122]:
#ex 11
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print(dict1.pop("name"))
print (dict1)

anisha
{'age': 22, 'location': 'kanyakumari'}

11. POP ITEM : removes the last inserted key value pair

In [124]:
#ex. 12
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
print(dict1.popitem())
print (dict1)

('location', 'kanyakumari')
{'name': 'anisha', 'age': 22}

12. ITEMS : returns a list containing a tuple for each key value pair

In [126]:
#ex . 13
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
dict1.items()

dict_items([('name', 'anisha'), ('age', 22), ('location', 'kanyakumari')])

13. KEYS : returns a list containing the dictionary's key

In [127]:
#ex . 13
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
dict1.keys()

dict_keys(['name', 'age', 'location'])

14.VALUES: returns a list of all the values in the dictionary

In [128]:
#ex . 13
dict1 = {"name":"anisha","age":22,"location":"kanyakumari"}
dict1.values()

dict_values(['anisha', 22, 'kanyakumari'])

## **V. FROZEN SET**

Frozen set is just an immutable version of a python set.

creating a frozen set

In [129]:
set1 = {"a","b","c","d"}
fset = frozenset(set1)
print (fset)

frozenset({'b', 'd', 'c', 'a'})

getting into methods of frozen set

In [130]:
dir (fset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

['copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union'] These all methods can be performed in frozenset. We can do these as similar to that of set .