<a href="https://colab.research.google.com/github/Anisha271299/Training-Assignments/blob/main/Simple%20Python%20Practice%20Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst1 = ["john","jack","john","john"]

In [ ]:
lst1.count("john")

3

In [ ]:
lst1.index("john")

0

In [ ]:
lst1 = ["john","jack","john","john"]

for i in range(len(lst1)):
  if lst1[i] == "john":
    print(i)

0
2
3

In [ ]:
from collections import Counter

In [ ]:
from collections import Counter
d1 = {'key1': 50, 'key2': 100, 'key3':200}
d2 = {'key1': 200, 'key2': 100, 'key4':300}

merged_dict = dict(Counter(d1)+Counter(d2))

In [ ]:
merged_dict

{'key1': 250, 'key2': 200, 'key3': 200, 'key4': 300}

In [ ]:
add = lambda a,b : a+b
c = add (4,6)
print(c)

10

In [ ]:
import pandas as pd

emp_data = {'emp_name':["Ashwin","Alex","Ashok","David"],'salary':[30000,90000,50000,70000],'dep':["HR","IT","HR","IT"]}

df = pd.DataFrame(emp_data)
df

  emp_name  salary dep
0   Ashwin   30000  HR
1     Alex   90000  IT
2    Ashok   50000  HR
3    David   70000  IT

In [ ]:
ad = pd.DataFrame
ad

pandas.core.frame.DataFrame

In [ ]:
df['city'] = "chennai"
print(df)

  emp_name  salary dep     city
0   Ashwin   30000  HR  chennai
1     Alex   90000  IT  chennai
2    Ashok   50000  HR  chennai
3    David   70000  IT  chennai

In [ ]:
sal_above = df[df['salary']>40000]
sal_above

  emp_name  salary dep     city
1     Alex   90000  IT  chennai
2    Ashok   50000  HR  chennai
3    David   70000  IT  chennai

In [ ]:
group_sal = df.groupby('dep')['salary'].sum()
print(group_sal)

dep
HR     80000
IT    160000
Name: salary, dtype: int64

In [ ]:
group_df = df.groupby('dep').agg({'salary':'sum','emp_name':list})
print(group_df)

     salary         emp_name
dep
HR    80000  [Ashwin, Ashok]
IT   160000    [Alex, David]

In [ ]:
sal_high = df.groupby('dep')['salary'].nlargest(1)
sal_high

dep
HR   2    50000
IT   1    90000
Name: salary, dtype: int64

In [1]:
import pandas as pd

data = {
    'employee_name': ['John', 'Jane', 'Mike'],
    'salary': [4000, 3500, 5000],
    'department': ['HR', 'Finance', 'IT']
}

df = pd.DataFrame(data)
print(df)

  employee_name  salary department
0          John    4000         HR
1          Jane    3500    Finance
2          Mike    5000         IT

In [2]:
filtered_df = df[df['salary'] > 3000]
print(filtered_df)

  employee_name  salary department
0          John    4000         HR
1          Jane    3500    Finance
2          Mike    5000         IT

In [3]:
df['new_column'] = [True, False, True]
print(df)

  employee_name  salary department  new_column
0          John    4000         HR        True
1          Jane    3500    Finance       False
2          Mike    5000         IT        True

In [4]:
def compare_dates(date1, date2):
    if date1 == date2:
        return True
    else:
        return False

date1 = "2023-08-08"
date2 = "2023-08-09"
result = compare_dates(date1, date2)
print(result)

False

In [5]:
from datetime import datetime

def validate_dates(date1, date2):
    try:
        datetime.strptime(date1, "%Y-%m-%d")
        datetime.strptime(date2, "%Y-%m-%d")
        return True
    except ValueError:
        return False

date1 = "2023-08-08"
date2 = "2023-08-09"
result = validate_dates(date1, date2)
print(result)

True

In [ ]:
import pyodbc

conn = pyodbc.connect('DRIVER={DriverName};SERVER=ServerName;DATABASE=DatabaseName;UID=Username;PWD=Password')
cursor = conn.cursor()

# Execute SQL queries here

conn.close()

In [ ]:
import pandas as pd
import pyodbc

# Read Excel file into a dataframe
df = pd.read_excel('path/to/excel/file.xlsx')

# Connect to the database
conn = pyodbc.connect('DRIVER={DriverName};SERVER=ServerName;DATABASE=DatabaseName;UID=Username;PWD=Password')
cursor = conn.cursor()

# Insert dataframe into the database table
for row in df.itertuples(index=False):
    cursor.execute("INSERT INTO TableName (column1, column2, column3) VALUES (?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [6]:
def find_longest_chain(lst):
    longest_chain = []
    current_chain = []

    for item in lst:
        if current_chain and item == current_chain[-1] + 1:
            current_chain.append(item)
        else:
            if len(current_chain) > len(longest_chain):
                longest_chain = current_chain
            current_chain = [item]

    if len(current_chain) > len(longest_chain):
        longest_chain = current_chain

    return longest_chain

# Example usage
my_list = [1, 2, 3, 5, 6, 7, 9, 10, 11]
result = find_longest_chain(my_list)
print(result)

[1, 2, 3]

In [7]:
def filter_ages(ages):
    filtered_ages = []

    for age in ages:
        if isinstance(age, int) and age < 18:
            filtered_ages.append(age)
        elif isinstance(age, str):
            try:
                age_int = int(age)
                if age_int < 18:
                    filtered_ages.append(age_int)
            except ValueError:
                pass

    return filtered_ages

# Example usage
ages = [15, 18, '17', '20', 16, '18']
result = filter_ages(ages)
print(result)

[15, 17, 16]

In [8]:
from datetime import datetime

def compare_dates(date1, date2, format1, format2):
    try:
        parsed_date1 = datetime.strptime(date1, format1)
        parsed_date2 = datetime.strptime(date2, format2)

        if parsed_date1 == parsed_date2:
            return "Dates are equal"
        else:
            return "Dates are not equal"
    except ValueError:
        return "Invalid date format"

# Example usage
date1 = "01/12/23"
date2 = "12/01/23"
format1 = "%d/%m/%y"
format2 = "%m/%d/%y"
result = compare_dates(date1, date2, format1, format2)
print(result)

Dates are equal